body {
	font-size: xxx-large;
}

.starter-template {
	text-align: center;

}
/*.container{
	display: flex;
}
.left{
	width: 50%;
}
.right{
	width: 50%;
}*/

input {
	font-size: xxx-large;
	padding: 5px;
	margin: 5px;
	border: inset;
	width: 100%;
}

fieldset {
	border: none;	
}

h2,h4 {
	color: #080E9E;
}

/*h2 {
	color: #000000;
}*/