<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>ChatGPT & Spring demo</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<main role="main" class="container">
		<div class="starter-template">
			<h2>Communication avec ChatGPT</h2>
			<div class="container">
				<form th:action="@{/}" method="post">
						<fieldset>
							<div class="form-group">
								<input type="text" name="prompt" th:value="${request}" required autofocus/>
							</div>
							<div class="row">
								<input type="submit" value="Send" />
							</div>
						</fieldset>
				</form>
				<div class="right">
					<h4 th:if="${response != null}" >Réponse de ChatGPT: </h4>
					<p th:if="${response != null}" th:text="${response}" />
				</div>
			</div>
		</div>

	</main>
</body>
</html>